*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

canvas{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.ball-text{
    position: fixed;
    z-index: 2;
    color: white;
    font-size: 5rem;
    right: 10%;
    bottom: 60%;
    transform: translate(-20%,-40%);
}

.head-text{
    position: fixed;
    z-index: 2;
    color: white;
    left: 20%;
    top: 25%;
    width: 30%;
    transform: translate(-20%,-40%);
}

